*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  height: 667px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: auto;
  margin-block-start: 275px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-block-end: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.search-form__label:not(:last-child) {
  margin-inline-end: 15px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255);
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  width: fit-content;
}

.search-form__label-text {
  vertical-align: middle;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-inline-start: 1px;
  margin-block-end: 2px;
  border: 1px solid #fff;
  vertical-align: middle;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-inline-start: 1px;
  margin-block-end: 1px;
  background-color: #fff;
}

.search-form__label .search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  background-color: inherit;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:active {
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-block-start: 20px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  width: 100%;
  height: 298px;
  margin-block-start: 26px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: inline-block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 390px;
  padding: 2px;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  padding-block-start: 6px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}
